<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Abc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>dha.pkg.java.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PregServlet</display-name>
    <servlet-name>PregServlet</servlet-name>
    <servlet-class>dha.pkg.java.PregServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PregServlet</servlet-name>
    <url-pattern>/PregServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>dha.pkg.java.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>dha.pkg.java.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAppointment</display-name>
    <servlet-name>ViewAppointment</servlet-name>
    <servlet-class>dha.pkg.java.ViewAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAppointment</servlet-name>
    <url-pattern>/ViewAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NregServlet</display-name>
    <servlet-name>NregServlet</servlet-name>
    <servlet-class>dha.pkg.java.NregServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NregServlet</servlet-name>
    <url-pattern>/NregServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NurseLogin</display-name>
    <servlet-name>NurseLogin</servlet-name>
    <servlet-class>dha.pkg.java.NurseLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NurseLogin</servlet-name>
    <url-pattern>/NurseLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NLregServlet</display-name>
    <servlet-name>NLregServlet</servlet-name>
    <servlet-class>dha.pkg.java.NLregServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NLregServlet</servlet-name>
    <url-pattern>/NLregServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pdisplay</display-name>
    <servlet-name>Pdisplay</servlet-name>
    <servlet-class>dha.pkg.java.Pdisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pdisplay</servlet-name>
    <url-pattern>/Pdisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadDBServlet</display-name>
    <servlet-name>FileUploadDBServlet</servlet-name>
    <servlet-class>dha.pkg.java.FileUploadDBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadDBServlet</servlet-name>
    <url-pattern>/FileUploadDBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>dha.pkg.java.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadFileController</display-name>
    <servlet-name>UploadFileController</servlet-name>
    <servlet-class>dha.pkg.java.UploadFileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFileController</servlet-name>
    <url-pattern>/UploadFileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUpDBServlet</display-name>
    <servlet-name>FileUpDBServlet</servlet-name>
    <servlet-class>dha.pkg.java.FileUpDBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUpDBServlet</servlet-name>
    <url-pattern>/FileUpDBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatDisplay</display-name>
    <servlet-name>PatDisplay</servlet-name>
    <servlet-class>dha.pkg.java.PatDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatDisplay</servlet-name>
    <url-pattern>/PatDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadImageServlet</display-name>
    <servlet-name>UploadImageServlet</servlet-name>
    <servlet-class>dha.pkg.java.UploadImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImageServlet</servlet-name>
    <url-pattern>/UploadImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serv1</display-name>
    <servlet-name>Serv1</servlet-name>
    <servlet-class>dha.pkg.java.Serv1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv1</servlet-name>
    <url-pattern>/Serv1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailSendServ</display-name>
    <servlet-name>EmailSendServ</servlet-name>
    <servlet-class>dha.pkg.java.EmailSendServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailSendServ</servlet-name>
    <url-pattern>/EmailSendServ</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>dhavalsha99@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>dhaval999</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>EmailServlet</display-name>
    <servlet-name>EmailServlet</servlet-name>
    <servlet-class>dha.pkg.java.EmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailServlet</servlet-name>
    <url-pattern>/EmailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImgDownloadServlet</display-name>
    <servlet-name>ImgDownloadServlet</servlet-name>
    <servlet-class>dha.pkg.java.ImgDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImgDownloadServlet</servlet-name>
    <url-pattern>/ImgDownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileDownloadServlet</display-name>
    <servlet-name>FileDownloadServlet</servlet-name>
    <servlet-class>dha.pkg.java.FileDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownloadServlet</servlet-name>
    <url-pattern>/FileDownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrescServlet</display-name>
    <servlet-name>PrescServlet</servlet-name>
    <servlet-class>dha.pkg.java.PrescServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrescServlet</servlet-name>
    <url-pattern>/PrescServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>dha.pkg.java.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NController</display-name>
    <servlet-name>NController</servlet-name>
    <servlet-class>dha.pkg.java.NController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NController</servlet-name>
    <url-pattern>/NController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GradeServ1</display-name>
    <servlet-name>GradeServ1</servlet-name>
    <servlet-class>dha.pkg.java.GradeServ1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradeServ1</servlet-name>
    <url-pattern>/GradeServ1</url-pattern>
  </servlet-mapping>
</web-app>